/* Estilos para el formulario y la tabla */
table {
    margin-bottom: 20px;
    border-collapse: collapse;
}

table td {
    padding: 5px 10px;
    border: 1px solid #ccc;
}

form {
    margin-bottom: 20px;
}

/* Estilos para el botón Cambiar contraseña */
button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Estilos para el botón Cerrar sesión */
input[type="submit"] {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #d32f2f;
}
